<div class="container">
    <form class="row" #form="ngForm" (submit)="cadastrar($event)" >
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input required #titulo="ngModel" name="titulo" [(ngModel)]="foto.titulo" class="form-control" autocomplete="off">
                <span *ngIf="titulo.invalid" class="form-control alert-danger">
                    Título obrigatório
                </span> 
            </div>
            <div class="form-group">
                <label>URL</label>
                <input required #url="ngModel" name="url" [(ngModel)]="foto.url" class="form-control" autocomplete="off">
                <span *ngIf="url.invalid" class="form-control alert-danger">
                    Url obrigatória
                </span> 
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea required #descricao="ngModel" name="descricao" [(ngModel)]="foto.descricao" class="form-control" autocomplete="off">
                </textarea>
                <span *ngIf="descricao.invalid" class="form-control alert-danger">
                    Descrição obrigatória
                </span> 
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form.form.invalid">
                Salvar
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
    </form>
</div>